h1{text-align: center;}

.szoveg{
    margin-left: 15px;
    margin-right: 15px; 
    text-align: justify;
    margin-top: 25px;
    
}

#tisza{font-size: 26px;
;}

#tisza:hover{background-color: rgb(53, 225, 255)}

.kepmeret{size: 40px;}

img{
    width: 300px;
}

.videodiv{
   text-align: center;
   margin-top: 100;
}

table{
    margin: 10px;
}


.kek:hover{
    border: 3px solid rgb(167, 0, 0);
    box-shadow: 3px 4px rgb(107, 0, 0);
}

















































































